{
  "extends": "airbnb/base",
  "globals": {
    "angular": 1,
    "describe": 1,
    "it": 1,
    "expect": 1,
    "beforeEach": 1,
    "afterEach": 1,
    "browser": 1,
    "element": 1,
    "by": 1,
    "module": 1,
    "inject": 1,
    "require": 1,
    "exports": 1,
    "console": 1,
    "$": 1,
    "window": 1,
    "spyOn": 1,
    "_": 1
  }
}